.posturas-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.posturas-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.posturas-text {
  top: 35px;
  color: rgb(255, 255, 255);
  right: 70px;
  position: absolute;
}
.posturas-hero {
  width: 100%;
  height: 902px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.posturas-navlink {
  top: -73px;
  left: 27px;
  color: var(--dl-color-gray-white);
  height: 51px;
  position: absolute;
  align-self: stretch;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-style: double;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #626262;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.posturas-navlink:hover {
  transform: scale(1.02);
}
.posturas-navlink1 {
  top: -74px;
  left: 194px;
  color: var(--dl-color-gray-white);
  position: absolute;
  align-self: stretch;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: double;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-500);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.posturas-navlink1:hover {
  transform: scale(1.02);
}
.posturas-navlink2 {
  top: -74px;
  left: 348px;
  color: var(--dl-color-gray-white);
  position: absolute;
  align-self: stretch;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: double;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-500);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.posturas-navlink2:hover {
  transform: scale(1.02);
}
.posturas-navlink3 {
  top: -73px;
  left: 497px;
  color: var(--dl-color-gray-white);
  position: absolute;
  align-self: stretch;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: double;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-500);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.posturas-navlink3:hover {
  transform: scale(1.02);
}
.posturas-navlink4 {
  top: -73px;
  left: 688px;
  color: var(--dl-color-gray-white);
  position: absolute;
  align-self: stretch;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: double;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-500);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.posturas-navlink4:hover {
  transform: scale(1.02);
}
.posturas-container2 {
  top: 56px;
  right: 51px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.posturas-text1 {
  font-size: 3rem;
}
.posturas-text2 {
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.posturas-image {
  top: 442px;
  left: 602px;
  width: 444px;
  height: 289px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .posturas-hero {
    flex-direction: column;
  }
  .posturas-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .posturas-text1 {
    text-align: center;
  }
  .posturas-text2 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .posturas-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .posturas-text2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .posturas-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .posturas-navlink {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .posturas-navlink1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .posturas-navlink2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .posturas-navlink3 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .posturas-navlink4 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .posturas-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
